.form_input {
  width: 300px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
}
.avtocomplate {
  position: absolute;
  background-color: rgb(255, 255, 255);
  list-style: none;
  z-index: 10;
  overflow-y: auto;
  max-height: 240px;
  width: 300px;
  border-radius: 0.5rem;
}
.avtocomplate .item {
  line-height: 2;
  padding: 0.5rem;
  cursor: pointer;
}
.avtocomplate .item:hover {
  background-color: #888;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
